.container {
  padding: 0 2rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.nav {
  display:-webkit-flex;
  display:flex;
  list-style-type:none;
  padding:0;
  justify-content:flex-end;
  align-items: center;
}

.navleft {
  margin-right: auto;
}

.button {
    display: inline-flex;
    align-items: center;
    height: 1.75rem;
    min-width: 4rem;
    justify-content: center;
    color: #2b5b84;
    margin-left: 15px;
}
